<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta name="theme-color" content="#5c6bc0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">


    <!-- OpenGraph -->
  <meta property="og:title" content="Google I/O Extended Brasília">
  <meta property="og:site_name" content="Google I/O Extended Brasília">
  <meta property="og:url" content="http://gdgbrasilia.github.io/io16extended/">
  <meta property="og:description" content="A versão Extended 2016 do evento mundial direcionado a desenvolvedores de software acontecerá na capital em maio de 2016">
  <!-- <meta property="fb:app_id" content="720988801282810"> -->
  <meta property="og:type" content="website">
  <meta property="og:locale" content="pt_BR">
  <meta property="og:image" content="https://scontent-gru2-1.xx.fbcdn.net/v/t1.0-9/1231659_569256223135297_226967907_n.jpg?oh=2855bd6d63ddf7e25f1fa0640dff7267&oe=57A4EF6F">

  <!-- Schema.org -->
  <meta itemprop="name" content="Google I/O Extended Brasília">
  <meta itemprop="description" content="A versão Extended 2016 do evento mundial direcionado a desenvolvedores de software acontecerá na capital em maio de 2016">
  <meta itemprop="url" content="http://gdgbrasilia.github.io/io16extended/">
  <meta itemprop="keywords" content="google, io, extended, brasília, df, design, desenvolvimento, android, ux">
  <!-- <meta itemprop="image" content="https://zeplin.io/img/favicon/228x228.png"> -->
  <meta itemprop="sourceOrganization" content="GDG Brasília">
  <meta itemprop="inLanguage" content="pt-BR">

  <link rel="shortcut icon" type="image/x-icon" href="https://events.google.com/io2016/images/favicon/favicon-32.png">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61250550-3', 'auto');
  ga('send', 'pageview');

</script>
</head>
