<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

<header class="header-site z-depth-1">
	<div class="">
		<div class="logo">
			<a href="index.html">
				<img src="assets/images/logo-gdg-brasilia.svg" alt="">
			</a>
		</div>
		<div class="menu-ico">
			<a href="javascript:void(0)">
				<i class="material-icons">&#xE5D2;</i>
			</a>
		</div>
	</div>
</header>