<div class="schedule">
  <div class="day">
    <span>
      18 <small>Quarta</small>
    </span>
  </div>
  <div class="content-event">
    <div class="event-item waves-effect item-color keynote-bg">
      <a href="#keynote" class="modal-trigger">
        <h5>
          Transmissão do Keynote
        </h5>
        <p class="hour-day">14:00 - 16-00</p>
      </a>
    </div>
    <div class="event-item waves-effect">
      <a href="javascript:void(0)">
        <h5>
          Open Space sobre as novidades
        </h5>
        <p class="hour-day">16:00 - 17-00</p>
      </a>
    </div>
    <div class="event-item waves-effect">
      <a href="javascript:void(0)">
        <h5>
          Encerramento
        </h5>
        <p class="hour-day">17:00</p>
      </a>
    </div>
  </div>
</div>

<div class="schedule">
  <div class="day">
    <span>
      21 <small>Sábado</small>
    </span>
  </div>
  <div class="content-event">
    <div class="event-item item-color coffe-bg waves-effect">
      <a href="javascript:void(0)">
        <h5>
          Credenciamento & Coffee-Break
        </h5>
        <p class="hour-day">09:00 - 09:30</p>
      </a>
    </div>
    <div class="event-item waves-effect">
      <a href="javascript:void(0)">
        <h5>
          Início das trilhas
        </h5>
        <p class="hour-day">09:30 - 13:00</p>
      </a>
    </div>
    <div class="event-item waves-effect">
      <a href="javascript:void(0)">
        <h5>
          Almoço
        </h5>
        <p class="hour-day">13:00 - 14:00</p>
      </a>
    </div>
    <div class="event-item waves-effect">
      <a href="javascript:void(0)">
        <h5>
          Trilhas & Codelabs
        </h5>
        <p class="hour-day">14:00 - 18:00</p>
      </a>
    </div>
    <div class="event-item waves-effect">
      <a href="javascript:void(0)">
        <h5>
          Encerramento
        </h5>
        <p class="hour-day">18:00</p>
      </a>
    </div>
  </div>
</div>