$color-p: #5E6BB2;

body {
	font-family: 'Roboto', sans-serif;
	color: #546E7A;
	min-height: 900px;
	overflow-x: hidden !important;
}

.container {
	position: relative;
}

.color-bg {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}